* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-input {
  background-color: #f3f3f3;
  min-height: 26px;
  font-size: 18px;
  border-radius: 26px;
  padding: 11px 10px 10px 42px;
  background-image: url("/content/svg/search (1).svg");
  background-repeat: no-repeat;
  background-position: 12px 11px;
  box-shadow: #d2d2d2 0 -1px 1px;
  color: #858585;
}

.second-custom-input {
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 11px 10px 10px 11px;
  color: #75758A;
}

.custom-button {
  background: linear-gradient(#8EE902, #4F9C2C);
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: #4F9C2C 0 4px 4px;
  border-radius: 100px;
  font-weight: 700;
}

.second-custom-button {
  background-color: #4F9C2C;
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.header {
  display: flex;
  font-weight: 700;
  padding: 29px 135px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EFEFEF;
  max-height: 84px;
  z-index: 10;
}
.header__list {
  display: flex;
  gap: 24px;
}
.header__searchbar {
  display: flex;
  align-items: center;
  position: relative;
}
.header__searchbar a {
  margin-left: 24px;
}
.header__icons {
  display: flex;
  gap: 24px;
}
.header .header__searchbar-login:hover > button .search-window {
  border: solid 1px red;
}

.dropdown__content {
  position: absolute;
  top: 100%;
  left: 0;
  border: solid 1px #EFEFEF;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 70px;
  width: 320px;
  z-index: 1;
  opacity: 0;
  transform: translate(0, 30%);
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}
.dropdown__content input {
  margin: 11px;
}

._activeDD {
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

body._pc .header__searchbar:hover .dropdown__content {
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translate(0, 0);
}

/*# sourceMappingURL=headerFooter.css.map */
