@import "null";
@import "UI";
@import "colorVariables";
@import "headerFooter";
@import "textStyles";

body{
  overflow-x: hidden;
}

.wrapper{
  display: grid;
  grid-template: minmax(84px, auto) 1fr minmax(328px, auto)/ 1fr;
  min-height: 100%;
}

.main{
  &__background{
    position: relative;
    z-index: -2;
    width: 100%;
  }
  &__banner{
    position: relative;
  }
  &__title{
    position: absolute;
    left: 10%;
    bottom: 10%;
  }
  &__motto{
    display: inline-flex;
    flex-direction: column;
    align-items: start;
  }
  &__motto div{
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 15px;
  }
  &__circle{
    position: absolute;
    bottom: -25px;
    left: -25px;
    z-index: -1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
  }
  &__benefits{
    display: flex;
    padding: 50px 135px;
    justify-content: space-between;
    background-color: $lightgrey;
  }
  &__item{
    display: flex;
    align-items: center;
    max-width: 170px;
    gap: 20px
  }
  &__info{
    text-align: center;
    max-width: 1200px;
    margin: 50px auto;

  }
}

.info{
  & > .title{
    text-align: center;
    margin: 50px 0 25px 0;
  }
  &__content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }
  &__card{
    max-width: 350px;
  }
  &__text{
    border: 1px solid $lightgrey;
    padding: 20px 25px;
    & > div{
      margin-top: 8px;
    }
  }
}

@media(max-width: 1115px){
  .info{
    &__content{
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }
  }
}

@media (max-width: 720px){
  .small-text{
    font-size: $smallText;
    color: black;
  }
  .text{
    font-size: 20px;
  }
  //Create burger menu in header__menu
}
