* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-input {
  background-color: #f3f3f3;
  min-height: 26px;
  font-size: 18px;
  border-radius: 26px;
  padding: 11px 10px 10px 42px;
  background-image: url("/content/svg/search (1).svg");
  background-repeat: no-repeat;
  background-position: 12px 11px;
  box-shadow: #d2d2d2 0 -1px 1px;
  color: #858585;
}

.second-custom-input {
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 11px 10px 10px 11px;
  color: #75758A;
}

.custom-button {
  background: linear-gradient(#8EE902, #4F9C2C);
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: #4F9C2C 0 4px 4px;
  border-radius: 100px;
  font-weight: 700;
}

.second-custom-button {
  background-color: #4F9C2C;
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-input {
  background-color: #f3f3f3;
  min-height: 26px;
  font-size: 18px;
  border-radius: 26px;
  padding: 11px 10px 10px 42px;
  background-image: url("/content/svg/search (1).svg");
  background-repeat: no-repeat;
  background-position: 12px 11px;
  box-shadow: #d2d2d2 0 -1px 1px;
  color: #858585;
}

.second-custom-input {
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 11px 10px 10px 11px;
  color: #75758A;
}

.custom-button {
  background: linear-gradient(#8EE902, #4F9C2C);
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: #4F9C2C 0 4px 4px;
  border-radius: 100px;
  font-weight: 700;
}

.second-custom-button {
  background-color: #4F9C2C;
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.header {
  display: flex;
  font-weight: 700;
  padding: 29px 135px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EFEFEF;
  max-height: 84px;
  z-index: 10;
}
.header__burger-icons {
  display: none;
}
.header__list {
  display: flex;
  gap: 24px;
}
.header__searchbar {
  display: flex;
  align-items: center;
  position: relative;
}
.header__searchbar a {
  margin-left: 24px;
}
.header__icons {
  display: flex;
  gap: 24px;
}
.header .header__searchbar-login:hover > button .search-window {
  border: solid 1px red;
}

.dropdown__content {
  position: absolute;
  top: 100%;
  left: 0;
  border: solid 1px #EFEFEF;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 70px;
  width: 320px;
  z-index: 1;
  opacity: 0;
  transform: translate(0, 30%);
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}
.dropdown__content input {
  margin: 11px;
}

._activeDD {
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

body._pc .header__searchbar:hover .dropdown__content {
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translate(0, 0);
}

.footer {
  background-color: #f3f3f3;
  margin-top: 100px;
}
.footer__interactive-bar {
  background-color: #75758A;
  height: 79px;
  padding-top: 16px;
}
.footer .interactive-bar__content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  margin: 0 auto;
}
.footer .interactive-bar__content label {
  height: 48.5px;
}
.footer .interactive-bar__description {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .interactive-bar__sub-input {
  height: 100%;
}
.footer .interactive-bar__call-button {
  display: flex;
}
.footer__info {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  margin: 31px auto;
  height: 98px;
}
.footer__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__motto {
  max-width: 255px;
}
.footer__social-media {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.footer__contact-info {
  height: 100%;
}
.footer__contact-info div {
  margin-bottom: 4px;
}
.footer__pay-info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.footer__pay-info img {
  height: 50px;
  width: 50px;
}

@media (max-width: 1400px) {
  .header {
    padding: 29px 50px;
  }
}
@media (max-width: 1300px) {
  .header {
    padding: 15px 50px;
  }
  .header__input {
    display: none;
  }

  body._pc .header__searchbar:hover {
    transform: translate(0, 0);
    padding: 21px 0;
  }

  .dropdown__button {
    width: 40px;
    height: 40px;
    background-image: url("/content/svg/search (1).svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border-radius: 50%;
  }
}
@media (max-width: 1000px) {
  .header > label {
    display: none;
  }
  .header__icons {
    display: none;
  }
  .header__list {
    flex-direction: column;
  }
  .header__burger-icons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .header__menu {
    position: fixed;
    z-index: 10;
    top: 84px;
    right: 0;
    width: 30%;
    height: 100%;
    text-align: right;
    transform: translate(100%, 0);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header .menu_active {
    transform: translate(0, 0);
  }

  .burger {
    display: inline-block;
    cursor: pointer;
  }
  .burger__bar {
    width: 35px;
    height: 3px;
    margin: 5px 0;
    transition: 0.3s;
    background-color: black;
  }
  .burger_active .burger__bar-1 {
    transform: translate(0, 8px) rotate(-45deg);
  }
  .burger_active .burger__bar-2 {
    transition: 0.3s;
    opacity: 0;
  }
  .burger_active .burger__bar-3 {
    transform: translate(0, -8px) rotate(45deg);
  }
}
body {
  font-family: Ubuntu, serif;
  overflow-x: hidden;
}

.wrapper {
  display: grid;
  grid-template: minmax(84px, auto) 1fr minmax(328px, auto)/1fr;
  min-height: 100%;
}

.small-text {
  font-size: 18px;
  color: black;
}

.smallest-text {
  font-size: 12px;
  color: #75758A;
}

.text {
  font-size: 14px;
  color: #75758A;
  line-height: 26px;
}

.black-text {
  font-size: 14px;
  color: black;
}

.lightColor-text {
  font-size: 14px;
  color: #EFEFEF;
}

.bold-text {
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.secondColor-text {
  font-size: 14px;
  color: #60B021;
}

.lightSecondColor-text {
  font-size: 14px;
  color: #8EE902;
}

.secondColor-text-lined {
  font-size: 14px;
  text-decoration: underline;
  color: #60B021;
}

.title {
  color: black;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.gradient-title {
  background-color: red;
  background-image: linear-gradient(270deg, #8ee901 0%, #4f9c20 100%);
  background-size: 100%;
  background-repeat: repeat;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
}

.main__background {
  position: relative;
  z-index: -2;
  width: 100%;
}
.main__banner {
  position: relative;
}
.main__title {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.main__motto {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
}
.main__motto div {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.main__circle {
  position: absolute;
  bottom: -25px;
  left: -25px;
  z-index: -1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
}
.main__benefits {
  display: flex;
  padding: 50px 135px;
  justify-content: space-between;
  background-color: #f3f3f3;
}
.main__item {
  display: flex;
  align-items: center;
  max-width: 170px;
  gap: 20px;
}
.main__info {
  text-align: center;
  max-width: 1200px;
  margin: 50px auto;
}

.info > .title {
  text-align: center;
  margin: 50px 0 25px 0;
}
.info__content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.info__card {
  max-width: 350px;
}
.info__text {
  border: 1px solid #f3f3f3;
  padding: 20px 25px;
}
.info__text > div {
  margin-top: 8px;
}

@media (max-width: 1115px) {
  .info__content {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}
@media (max-width: 720px) {
  .small-text {
    font-size: 18px;
    color: black;
  }

  .text {
    font-size: 20px;
  }
}

/*# sourceMappingURL=mainPage.css.map */
