@import "null";
@import "UI";
@import "colorVariables";
@import "headerFooter";
@import "textStyles";

.wrapper{
  display: grid;
  grid-template: minmax(84px, auto) 1fr minmax(328px, auto)/ 1fr;
  min-height: 100%;
}

.main{
  margin: 50px auto;
  max-width: 1200px;
  padding: 0 25px;
  &__path{
    margin-bottom: 14px;
  }
  &__title{
    margin-bottom: 50px;
  }
  &__content{
    display: flex;
    width: 100%;
    gap: 50px
  }
  &__swiper{
    margin-bottom: 45px;
  }
  &__characteristics{
    margin-top: 22px;
  }
  &__list{
    display: flex;
    flex-direction: column;
    li:first-child{
      border-top: 1px solid $grey;
    }
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grey;
    padding: 15px 0;
  }
  &__block-title{
    font-weight: 700;
    font-size: 16px;
  }
  &__about{
    margin-bottom: 23px;
  }
  &__description{
    margin-top: 17px;
    span{
      cursor: pointer;
    }
  }
  &__is-available{
    padding: 10px;
    display: inline-block;
    background: $secondColor;
    color: white;
    font-weight: 700;
    margin-bottom: 45px;
  }
  &__price-container{
    display: flex;
    gap: 25px;
    margin-top: 21px;
    & ul{
      width: 100%;
    }
  }
  &__in-cart{
    margin: 27px 0 40px 0;
    text-align: center;
    button{
      margin-top: 17px;
    }
  }
  &__partners{
    width: 100%;

  }
  &__partners-container{
    margin-top: 21px;
    div:first-child{
      min-width: 100px;
    }
  }
  &__tags{
    margin-top: 46px;
  }
  &__tags-container{
    margin-top: 21px;
    div{
      margin: 0 10px 10px 0;
    }
  }
  &__tag-item{
    display: inline-block;
    background: linear-gradient(180deg, rgba(247, 247, 247, 0.5) 0%, $lightgrey 100%);
    padding: 7px 9px;
    border: 1px solid $darkestGrey;
  }
}

.swiper{
  display: flex;
  flex-direction: column;
  border: 1px solid $grey;
  width: 397px;
  & > div{
    display: flex;
    justify-content: center;
  }
  &__PiP-buttons{

  }
  &__PiP_button{
    padding: 10px 12px 12px 10px;
    border: solid $lightgrey;
    border-width: 0 1px 1px 0;
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ._activePiPButton{
    padding: 10px;
    border: 3px solid $secondColor;
  }
  &__tipaSmallImg{
    text-align: center;
    padding: 9px 12px;
    background-color: $grey;
  }
  &__wrapper{
    position: relative;
    padding: 25px;
    width: 295px;
    height: 270px;
    overflow: hidden;
  }
  &__white_bar{
    width: 245px;
    height: 25px;
    position: absolute;
    background-color: white;
    z-index: 10;
    top: 0;
  }
  &__content{

  }
  &__slide{

  }
  &__tipaBigImg{
    width: 245px;
    height: 245px;
    text-align: center;
    padding: 110px 0;
    background-color: $grey;
    border: 2px solid red;
  }
  &__icons{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 22px 22px 22px 0;
  }
  &__social_media{
    margin-top: 21px;
    display: flex;
    gap: 10px;
    padding-bottom: 21px;
  }
}

@media (max-width: 1300px){
  body{
    overflow-x: hidden;
  }
}

@media (max-width: 850px){
  .main__content{
    display: block;
  }
  .main__about{
    margin-top: 20px;
  }
  .small-text{
    font-size: $smallText;
    color: black;
  }
  .text{
    font-size: 20px;
  }
  .swiper{
    margin: 0 auto 45px;
  }
}

@media (max-width: 565px){

}