* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dash {
  display: inline-block;
  border: solid #75758A;
  border-width: 1px 0 0 0;
  transform: translate(0, 18px);
  width: 8px;
}

.custom-input {
  background-color: #f3f3f3;
  min-height: 26px;
  font-size: 18px;
  border-radius: 26px;
  padding: 11px 10px 10px 42px;
  background-image: url("/content/svg/search (1).svg");
  background-repeat: no-repeat;
  background-position: 12px 11px;
  box-shadow: #d2d2d2 0 -1px 1px;
  color: #858585;
}

.second-custom-input {
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 11px 10px 10px 11px;
  color: #75758A;
}

.grey-input {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: #75758A;
  border: 1px solid #EFEFEF;
  background-color: #f3f3f3;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}

.custom-button {
  background: linear-gradient(#8EE902, #4F9C2C);
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: #4F9C2C 0 4px 4px;
  border-radius: 100px;
  font-weight: 700;
}

.second-custom-button {
  background-color: #4F9C2C;
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.white-custom-button {
  padding: 13px 62px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}

select {
  padding: 10px 15px;
  border: 1px solid #EFEFEF;
}

.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
}
.custom-checkbox__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.5) 0%, #F5F5F5 100%);
  border: 1px solid #f3f3f3;
}
.custom-checkbox__mark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-checkbox input:checked ~ .custom-checkbox__mark:after {
  display: block;
}
.custom-checkbox input:checked ~ .custom-checkbox__mark {
  background: #4F9C2C;
}
.custom-checkbox .custom-checkbox__mark:after {
  border: solid white;
  border-width: 0 2px 2px 0;
  width: 7px;
  height: 10px;
  transform: rotate(45deg) translate(2px, -2px);
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 16px;
  height: 16px;
}
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-radio__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.5) 0%, #F5F5F5 100%);
  border: 1px solid #E3E3E3;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.custom-radio:hover input ~ .custom-radio__mark {
  background-color: #ccc;
}
.custom-radio input:checked ~ .custom-radio__mark {
  background: #4F9C2C;
  border: none;
}
.custom-radio__mark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-radio input:checked ~ .custom-radio__mark:after {
  display: block;
}
.custom-radio .custom-radio__mark:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dash {
  display: inline-block;
  border: solid #75758A;
  border-width: 1px 0 0 0;
  transform: translate(0, 18px);
  width: 8px;
}

.custom-input {
  background-color: #f3f3f3;
  min-height: 26px;
  font-size: 18px;
  border-radius: 26px;
  padding: 11px 10px 10px 42px;
  background-image: url("/content/svg/search (1).svg");
  background-repeat: no-repeat;
  background-position: 12px 11px;
  box-shadow: #d2d2d2 0 -1px 1px;
  color: #858585;
}

.second-custom-input {
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 11px 10px 10px 11px;
  color: #75758A;
}

.grey-input {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: #75758A;
  border: 1px solid #EFEFEF;
  background-color: #f3f3f3;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}

.custom-button {
  background: linear-gradient(#8EE902, #4F9C2C);
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: #4F9C2C 0 4px 4px;
  border-radius: 100px;
  font-weight: 700;
}

.second-custom-button {
  background-color: #4F9C2C;
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.white-custom-button {
  padding: 13px 62px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}

select {
  padding: 10px 15px;
  border: 1px solid #EFEFEF;
}

.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
}
.custom-checkbox__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.5) 0%, #F5F5F5 100%);
  border: 1px solid #f3f3f3;
}
.custom-checkbox__mark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-checkbox input:checked ~ .custom-checkbox__mark:after {
  display: block;
}
.custom-checkbox input:checked ~ .custom-checkbox__mark {
  background: #4F9C2C;
}
.custom-checkbox .custom-checkbox__mark:after {
  border: solid white;
  border-width: 0 2px 2px 0;
  width: 7px;
  height: 10px;
  transform: rotate(45deg) translate(2px, -2px);
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 16px;
  height: 16px;
}
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-radio__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.5) 0%, #F5F5F5 100%);
  border: 1px solid #E3E3E3;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.custom-radio:hover input ~ .custom-radio__mark {
  background-color: #ccc;
}
.custom-radio input:checked ~ .custom-radio__mark {
  background: #4F9C2C;
  border: none;
}
.custom-radio__mark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-radio input:checked ~ .custom-radio__mark:after {
  display: block;
}
.custom-radio .custom-radio__mark:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dash {
  display: inline-block;
  border: solid #75758A;
  border-width: 1px 0 0 0;
  transform: translate(0, 18px);
  width: 8px;
}

.custom-input {
  background-color: #f3f3f3;
  min-height: 26px;
  font-size: 18px;
  border-radius: 26px;
  padding: 11px 10px 10px 42px;
  background-image: url("/content/svg/search (1).svg");
  background-repeat: no-repeat;
  background-position: 12px 11px;
  box-shadow: #d2d2d2 0 -1px 1px;
  color: #858585;
}

.second-custom-input {
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 11px 10px 10px 11px;
  color: #75758A;
}

.grey-input {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: #75758A;
  border: 1px solid #EFEFEF;
  background-color: #f3f3f3;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}

.custom-button {
  background: linear-gradient(#8EE902, #4F9C2C);
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: #4F9C2C 0 4px 4px;
  border-radius: 100px;
  font-weight: 700;
}

.second-custom-button {
  background-color: #4F9C2C;
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.white-custom-button {
  padding: 13px 62px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}

select {
  padding: 10px 15px;
  border: 1px solid #EFEFEF;
}

.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
}
.custom-checkbox__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.5) 0%, #F5F5F5 100%);
  border: 1px solid #f3f3f3;
}
.custom-checkbox__mark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-checkbox input:checked ~ .custom-checkbox__mark:after {
  display: block;
}
.custom-checkbox input:checked ~ .custom-checkbox__mark {
  background: #4F9C2C;
}
.custom-checkbox .custom-checkbox__mark:after {
  border: solid white;
  border-width: 0 2px 2px 0;
  width: 7px;
  height: 10px;
  transform: rotate(45deg) translate(2px, -2px);
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 16px;
  height: 16px;
}
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-radio__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.5) 0%, #F5F5F5 100%);
  border: 1px solid #E3E3E3;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.custom-radio:hover input ~ .custom-radio__mark {
  background-color: #ccc;
}
.custom-radio input:checked ~ .custom-radio__mark {
  background: #4F9C2C;
  border: none;
}
.custom-radio__mark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-radio input:checked ~ .custom-radio__mark:after {
  display: block;
}
.custom-radio .custom-radio__mark:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

body {
  font-family: Ubuntu, serif;
}

.small-text {
  font-size: 18px;
  color: black;
}

.smallest-text {
  font-size: 12px;
  color: #75758A;
}

.text {
  font-size: 14px;
  color: #75758A;
  line-height: 26px;
}

.black-text {
  font-size: 14px;
  color: black;
}

.lightColor-text {
  font-size: 14px;
  color: #EFEFEF;
}

.bold-text {
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.bold-text-small {
  font-size: 14px;
  color: black;
  font-weight: 700;
}

.secondColor-text {
  font-size: 14px;
  color: #60B021;
}

.secondColor-text-bold {
  font-size: 14px;
  font-weight: 700;
  color: #60B021;
}

.lightSecondColor-text {
  font-size: 14px;
  color: #8EE902;
}

.secondColor-text-lined {
  font-size: 14px;
  text-decoration: underline;
  color: #60B021;
}

.title {
  color: black;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.gradient-title {
  background-color: red;
  background-image: linear-gradient(270deg, #8ee901 0%, #4f9c20 100%);
  background-size: 100%;
  background-repeat: repeat;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
}

.gradient-text {
  background-color: red;
  background-image: linear-gradient(270deg, #8ee901 0%, #4f9c20 100%);
  background-size: 100%;
  background-repeat: repeat;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 18px;
}

.header {
  display: flex;
  font-weight: 700;
  padding: 29px 135px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EFEFEF;
  max-height: 84px;
  z-index: 10;
}
.header__burger-icons {
  display: none;
}
.header__list {
  display: flex;
  gap: 24px;
}
.header__searchbar {
  display: flex;
  align-items: center;
  position: relative;
}
.header__searchbar a {
  margin-left: 24px;
}
.header__icons {
  display: flex;
  gap: 24px;
}
.header .header__searchbar-login:hover > button .search-window {
  border: solid 1px red;
}

.dropdown__content {
  position: absolute;
  top: 100%;
  left: 0;
  border: solid 1px #EFEFEF;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 70px;
  width: 320px;
  z-index: 1;
  opacity: 0;
  transform: translate(0, 30%);
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}
.dropdown__content input {
  margin: 11px;
}

._activeDD {
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

body._pc .header__searchbar:hover .dropdown__content {
  transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translate(0, 0);
}

.footer {
  background-color: #f3f3f3;
  margin-top: 100px;
}
.footer__interactive-bar {
  background-color: #75758A;
  height: 79px;
  padding-top: 16px;
}
.footer .interactive-bar__content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  margin: 0 auto;
}
.footer .interactive-bar__content label {
  height: 48.5px;
}
.footer .interactive-bar__description {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .interactive-bar__sub-input {
  height: 100%;
}
.footer .interactive-bar__call-button {
  display: flex;
}
.footer__info {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  margin: 31px auto;
  height: 98px;
}
.footer__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__motto {
  max-width: 255px;
}
.footer__social-media {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.footer__contact-info {
  height: 100%;
}
.footer__contact-info div {
  margin-bottom: 4px;
}
.footer__pay-info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.footer__pay-info img {
  height: 50px;
  width: 50px;
}

@media (max-width: 1400px) {
  .header {
    padding: 29px 50px;
  }
}
@media (max-width: 1300px) {
  .header {
    padding: 15px 50px;
  }
  .header__input {
    display: none;
  }

  body._pc .header__searchbar:hover {
    transform: translate(0, 0);
    padding: 21px 0;
  }

  .dropdown__button {
    width: 40px;
    height: 40px;
    background-image: url("/content/svg/search (1).svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border-radius: 50%;
  }
}
@media (max-width: 1000px) {
  .header > label {
    display: none;
  }
  .header__icons {
    display: none;
  }
  .header__list {
    flex-direction: column;
  }
  .header__burger-icons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .header__menu {
    position: fixed;
    z-index: 10;
    top: 84px;
    right: 0;
    width: 30%;
    height: 100%;
    text-align: right;
    transform: translate(100%, 0);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header .menu_active {
    transform: translate(0, 0);
  }

  .burger {
    display: inline-block;
    cursor: pointer;
  }
  .burger__bar {
    width: 35px;
    height: 3px;
    margin: 5px 0;
    transition: 0.3s;
    background-color: black;
  }
  .burger_active .burger__bar-1 {
    transform: translate(0, 8px) rotate(-45deg);
  }
  .burger_active .burger__bar-2 {
    transition: 0.3s;
    opacity: 0;
  }
  .burger_active .burger__bar-3 {
    transform: translate(0, -8px) rotate(45deg);
  }
}
@media (max-width: 850px) {
  .footer {
    height: 500px;
  }
  .footer__info {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    gap: 30px;
  }
  .footer__social-media {
    margin-left: auto;
  }
  .footer__pay-info {
    justify-content: right;
  }
  .footer__interactive-bar {
    height: 140px;
  }
  .footer__interactive-bar label {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  .footer .interactive-bar__content {
    flex-direction: column;
    gap: 50px;
  }
  .footer__interactive-bar {
    height: 230px;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dash {
  display: inline-block;
  border: solid #75758A;
  border-width: 1px 0 0 0;
  transform: translate(0, 18px);
  width: 8px;
}

.custom-input {
  background-color: #f3f3f3;
  min-height: 26px;
  font-size: 18px;
  border-radius: 26px;
  padding: 11px 10px 10px 42px;
  background-image: url("/content/svg/search (1).svg");
  background-repeat: no-repeat;
  background-position: 12px 11px;
  box-shadow: #d2d2d2 0 -1px 1px;
  color: #858585;
}

.second-custom-input {
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 11px 10px 10px 11px;
  color: #75758A;
}

.grey-input {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: #75758A;
  border: 1px solid #EFEFEF;
  background-color: #f3f3f3;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}

.custom-button {
  background: linear-gradient(#8EE902, #4F9C2C);
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: #4F9C2C 0 4px 4px;
  border-radius: 100px;
  font-weight: 700;
}

.second-custom-button {
  background-color: #4F9C2C;
  padding: 17px 35px;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.white-custom-button {
  padding: 13px 62px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}

select {
  padding: 10px 15px;
  border: 1px solid #EFEFEF;
}

.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
}
.custom-checkbox__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.5) 0%, #F5F5F5 100%);
  border: 1px solid #f3f3f3;
}
.custom-checkbox__mark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-checkbox input:checked ~ .custom-checkbox__mark:after {
  display: block;
}
.custom-checkbox input:checked ~ .custom-checkbox__mark {
  background: #4F9C2C;
}
.custom-checkbox .custom-checkbox__mark:after {
  border: solid white;
  border-width: 0 2px 2px 0;
  width: 7px;
  height: 10px;
  transform: rotate(45deg) translate(2px, -2px);
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 16px;
  height: 16px;
}
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-radio__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.5) 0%, #F5F5F5 100%);
  border: 1px solid #E3E3E3;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}
.custom-radio:hover input ~ .custom-radio__mark {
  background-color: #ccc;
}
.custom-radio input:checked ~ .custom-radio__mark {
  background: #4F9C2C;
  border: none;
}
.custom-radio__mark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-radio input:checked ~ .custom-radio__mark:after {
  display: block;
}
.custom-radio .custom-radio__mark:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

body {
  font-family: Ubuntu, serif;
}

.small-text {
  font-size: 18px;
  color: black;
}

.smallest-text {
  font-size: 12px;
  color: #75758A;
}

.text {
  font-size: 14px;
  color: #75758A;
  line-height: 26px;
}

.black-text {
  font-size: 14px;
  color: black;
}

.lightColor-text {
  font-size: 14px;
  color: #EFEFEF;
}

.bold-text {
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.bold-text-small {
  font-size: 14px;
  color: black;
  font-weight: 700;
}

.secondColor-text {
  font-size: 14px;
  color: #60B021;
}

.secondColor-text-bold {
  font-size: 14px;
  font-weight: 700;
  color: #60B021;
}

.lightSecondColor-text {
  font-size: 14px;
  color: #8EE902;
}

.secondColor-text-lined {
  font-size: 14px;
  text-decoration: underline;
  color: #60B021;
}

.title {
  color: black;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.gradient-title {
  background-color: red;
  background-image: linear-gradient(270deg, #8ee901 0%, #4f9c20 100%);
  background-size: 100%;
  background-repeat: repeat;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 30px;
}

.gradient-text {
  background-color: red;
  background-image: linear-gradient(270deg, #8ee901 0%, #4f9c20 100%);
  background-size: 100%;
  background-repeat: repeat;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 18px;
}

.wrapper {
  display: grid;
  grid-template: minmax(84px, auto) 1fr minmax(328px, auto)/1fr;
  min-height: 100%;
}

.main {
  margin: 50px auto;
  max-width: 1200px;
  padding: 0 25px;
}
.main__path {
  margin-bottom: 14px;
}
.main__title {
  margin-bottom: 50px;
}
.main__content {
  display: flex;
  width: 100%;
  gap: 50px;
}
.main__swiper {
  margin-bottom: 45px;
}
.main__characteristics {
  margin-top: 22px;
}
.main__list {
  display: flex;
  flex-direction: column;
}
.main__list li:first-child {
  border-top: 1px solid #EFEFEF;
}
.main__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EFEFEF;
  padding: 15px 0;
}
.main__block-title {
  font-weight: 700;
  font-size: 16px;
}
.main__about {
  margin-bottom: 23px;
}
.main__description {
  margin-top: 17px;
}
.main__description span {
  cursor: pointer;
}
.main__is-available {
  padding: 10px;
  display: inline-block;
  background: #4F9C2C;
  color: white;
  font-weight: 700;
  margin-bottom: 45px;
}
.main__price-container {
  display: flex;
  gap: 25px;
  margin-top: 21px;
}
.main__price-container ul {
  width: 100%;
}
.main__in-cart {
  margin: 27px 0 40px 0;
  text-align: center;
}
.main__in-cart button {
  margin-top: 17px;
}
.main__partners {
  width: 100%;
}
.main__partners-container {
  margin-top: 21px;
}
.main__partners-container div:first-child {
  min-width: 100px;
}
.main__tags {
  margin-top: 46px;
}
.main__tags-container {
  margin-top: 21px;
}
.main__tags-container div {
  margin: 0 10px 10px 0;
}
.main__tag-item {
  display: inline-block;
  background: linear-gradient(180deg, rgba(247, 247, 247, 0.5) 0%, #f3f3f3 100%);
  padding: 7px 9px;
  border: 1px solid #858585;
}

.swiper {
  display: flex;
  flex-direction: column;
  border: 1px solid #EFEFEF;
  width: 397px;
}
.swiper > div {
  display: flex;
  justify-content: center;
}
.swiper__PiP_button {
  padding: 10px 12px 12px 10px;
  border: solid #f3f3f3;
  border-width: 0 1px 1px 0;
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper ._activePiPButton {
  padding: 10px;
  border: 3px solid #4F9C2C;
}
.swiper__tipaSmallImg {
  text-align: center;
  padding: 9px 12px;
  background-color: #EFEFEF;
}
.swiper__wrapper {
  position: relative;
  padding: 25px;
  width: 295px;
  height: 270px;
  overflow: hidden;
}
.swiper__white_bar {
  width: 245px;
  height: 25px;
  position: absolute;
  background-color: white;
  z-index: 10;
  top: 0;
}
.swiper__tipaBigImg {
  width: 245px;
  height: 245px;
  text-align: center;
  padding: 110px 0;
  background-color: #EFEFEF;
  border: 2px solid red;
}
.swiper__icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 22px 22px 22px 0;
}
.swiper__social_media {
  margin-top: 21px;
  display: flex;
  gap: 10px;
  padding-bottom: 21px;
}

@media (max-width: 1300px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 850px) {
  .main__content {
    display: block;
  }

  .main__about {
    margin-top: 20px;
  }

  .small-text {
    font-size: 18px;
    color: black;
  }

  .text {
    font-size: 20px;
  }

  .swiper {
    margin: 0 auto 45px;
  }
}

/*# sourceMappingURL=product.css.map */
