@import "null";
@import "UI";
@import "colorVariables";

body{
  font-family: Ubuntu, serif;
}

.wrapper{
  display: grid;
  grid-template: minmax(84px, auto) 1fr minmax(328px, auto)/ 1fr;
  min-height: 100%;
}

.small-text{
  font-size: 18px;
  color: black;
}

.text{
  font-size: 14px;
  color: $darkblue;
}
.black-text{
  font-size: 14px;
  color: black;
}

.title{
  color: black;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.gradient-title{
  background-color: red;
  background-image: linear-gradient(270deg, rgba(142,233,1,1) 0%, rgba(79,156,32,1) 100%);
  background-size: 100%;
  background-repeat: repeat;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 700;
  font-size: 30px;
}

.header{
  display: flex;
  font-weight: 700;
  padding: 29px 135px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grey;
  &__menu{

  }
  &__list{
    display: flex;
    gap: 24px;
  }
  &__searchbar-login{
    a{
      margin-left: 24px;
    }
  }
  &__icons{
    display: flex;
    gap: 24px
  }
}

.main{
  margin: 50px auto;
  max-width: 1200px;
  padding: 0 25px;
  &__path{
    margin-bottom: 14px;
  }
  &__title{
    margin-bottom: 50px;
  }
  &__content{
    display: flex;
    width: 100%;
    gap: 50px
  }
  &__swiper{
    margin-bottom: 45px;
  }
  &__characteristics{
    margin-top: 22px;
  }
  &__list{
    display: flex;
    flex-direction: column;
    li:first-child{
      border-top: 1px solid $grey;
    }
  }
  &__item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    padding: 15px 0;
  }
  &__block-title{
    font-weight: 700;
    font-size: 16px;
  }
  &__about{
    margin-bottom: 23px;
  }
  &__description{
    margin-top: 17px;
  }
  &__is-available{
    padding: 10px;
    display: inline-block;
    background: $secondColor;
    color: white;
    font-weight: 700;
  }
}

.footer{
  background-color: red;
}

@media (max-width: 1500px){
  //Create burger menu in header__menu
}
