@import "null";
@import "UI";
@import "colorVariables";

body{
  font-family: Ubuntu, serif;
}

.small-text{
  font-size: $smallText;
  color: black;
}
.smallest-text{
  font-size: 12px;
  color: $darkblue;
}

.text{
  font-size: $text;
  color: $darkblue;
  line-height: 26px;
}
.black-text{
  font-size: $text;
  color: black;
}
.lightColor-text{
  font-size: $text;
  color: $grey;
}
.bold-text{
  font-size: 18px;
  color: black;
  font-weight: 700;
}
.bold-text-small{
  font-size: 14px;
  color: black;
  font-weight: 700;
}
.secondColor-text{
  font-size: $text;
  color: $textSecondColor;
}
.secondColor-text-bold{
  font-size: $text;
  font-weight: 700;
  color: $textSecondColor;
}
.lightSecondColor-text{
  font-size: $text;
  color: $lightSecondColor;
}

.secondColor-text-lined{
  font-size: $text;
  text-decoration: underline;
  color: $textSecondColor;
}

.title{
  color: black;
  font-weight: 700;
  font-size: $title;
  text-transform: uppercase;
}

.gradient-title{
  background-color: red;
  background-image: linear-gradient(270deg, rgba(142,233,1,1) 0%, rgba(79,156,32,1) 100%);
  background-size: 100%;
  background-repeat: repeat;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 700;
  font-size: 30px;
}

.gradient-text{
  background-color: red;
  background-image: linear-gradient(270deg, rgba(142,233,1,1) 0%, rgba(79,156,32,1) 100%);
  background-size: 100%;
  background-repeat: repeat;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 700;
  font-size: 18px;
}